.whatever{
    padding-top: 2px;
    margin-bottom: 2px;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
h1{
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-weight: bolder;
    font-size: 33.5px;
   

}