.andreaFlower{
    height: auto;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
.success{
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.picked{
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    text-align: center;
}