.andreaFlower{
    height: auto;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.success{
    font-size: xx-large;
    text-align: center;
}
.picked{
    font-size: x-large;
    text-align: center;
}