/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  align-items: center;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #22031F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: rgb(108, 72, 122);
  color: black;
}

/* Style the active link (or home/logo) */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.active {
  font-family: 'Monoton', cursive;
  background-color: #22031F;
  color: rgb(128, 83, 83);
  align-items: center;
}