.about-container{
    text-align: center;
}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.listInfoHeading{
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
}

.listItem{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}